* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(92, 15, 133, 0.664) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 90vh;
}
.card {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
