* {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}
body {
  background-image: url(./back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.navbar {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  color: rgb(235, 211, 248);
  height: 4rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.2rem;
}
.buttons {
  display: flex;

  margin-right: 1rem;
}
.btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5px;
  height: 2.5rem;
  width: 7rem;
  margin-left: 1rem;
  border-radius: 2rem;
}
.signup {
  background-color: transparent;
  border: 2px solid rgb(235, 211, 248);
  color: rgb(235, 211, 248);
}
.signup a {
  text-decoration: none;
  color: rgb(235, 211, 248);
}
.login {
  background-color: rgb(46, 7, 63);
  border: 2px solid rgb(46, 7, 63);
}
.login a {
  text-decoration: none;
  color: rgb(235, 211, 248);
}
.login:hover {
  background-color: rgb(235, 211, 248);
  a {
    color: rgb(46, 7, 63);
  }
}
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  height: 90vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  width: 40%;
  text-align: center;
  color: rgb(46, 7, 63);
  margin-top: 2.2rem;
  margin-bottom: 5rem;
}

.header p {
  font-size: 1.5rem;
  color: rgb(235, 211, 248);
  margin-bottom: 2rem;
}

button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 700;
  background-color: #6a0dad;
  color: white;
  border: 2px solid #6a0dad;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(46, 7, 63);
}
@media (max-width: 575.98px) {
    .body {
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
    .navbar {
      font-size: 2rem;
      height: 4rem;
    }
    .buttons {
     
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .btn {
      font-size: 1.1rem;
      height: 1.7rem;
      width: 5.5rem;
    }
    .header {
      margin-top: 1rem;
    }
  
    .header h1 {
      font-size: 2.5rem;
      width: 80%;
      margin-bottom: 1rem;
    }
    .header p {
      text-align: center;
      font-size: .9rem;
      width: 80%;
    }
    button {
      padding: .8rem 1.3rem;
      font-size: 1.1rem;
    }
  }
  
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
   
    font-size: 3rem;
    height: 4rem;
  }
  .btn {
    font-size: 1.2rem;
    height: 2rem;
    width: 6rem;
  }
  .header {
    margin-top: 1rem;
  }
  .header h1 {
    font-size: 3rem;
    width: 60%;
    margin-bottom: 1rem;
  }
  .header p {
    font-size: 1.2rem;
  }
  button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
  
    font-size: 3rem;
    height: 4.1rem;
  }
  .btn {
    font-size: 1.2rem;
    height: 2.1rem;
    width: 6.2rem;
  }
  .header {
    margin-top: 0rem
  }
  .header h1 {
    font-size: 3.7rem;
    margin-bottom: 1rem;
    width: 70%;
  }
  .header p {
    font-size: 1.3rem;
  }
  button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar {
    font-size: 3rem;
    height: 4.5rem;
  }

  .header {
    margin-top: 0rem;
  }
  .header h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    width: 40%;
  }
  .header p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
    button {
        padding: .9rem 1.5rem;
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
  .navbar {
    font-size: 3rem;
    font-weight: 800;
    height: 6rem;
  }
  .btn {
    font-size: 1.5rem;

    height: 3rem;
    width: 8rem;
  }
  .header h1 {
    font-size: 4.8rem;
    font-weight: 800;
    width: 50%;
  }
  .header p {
    font-size: 2rem;
  }
  button {
    font-size: 1.8rem;
  }
}
